{{!-- {{>header}} --}}
<h1>Home</h1>

{{!-- Basic --}}
{{!-- Provided you know the object you can access it down the tre through WITH
--}}
{{#with author}}

<h3>Spy Agency Boss :</h3><h2>{{firstname}} {{lastname}}</h2>
{{#each employees}}
{{.}}

{{/each}}
{{/with}}


{{!-- as name |x|--}}
{{!-- Nested Access to Object File --}}
{{#with author as |attrib|}}
<h2>SpyAgency Boss: {{attrib.firstname}} {{attrib.lastname}}</h2>
{{!-- <p>Agents:{{attrib.employees.first}}</p> --}}
{{#each attrib.employees}}
<p>Agent {{.}}</p>
{{/each}}
{{/with}}


<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non cum sapiente
    quaerat nesciunt molestiae quisquam dicta numquam, necessitatibus eligendi
    excepturi.</p>

{{#if isTrue}}
<h3>You are Authenticated</h3>
<p>Proceed:</p>
<input type="button" value="Next">
{{else}}
<h3>Unauthorized Access</h3>
{{/if}}

{{#unless connectedUser}}
<h4>To connect user follow link below</h4>
<a href="http://www.google.com">Google</a>
{{/unless}}

{{calculation 100}}


{{duoCurly}}
{{{trioCurly}}}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{{!-- {{>footer}} --}}