{{!-- Calling Partial HBS --}}
{{>index_header}}
<h1>Team</h1>

{{!-- Iterating through a list using value and key params --}}
{{#each programmers as |value key|}}
<ul>{{key}}:{{value}}</ul>
{{/each}}

{{!-- Iterating through a list using a '.' --}}
{{#each programmers}}
<li>{{.}}</li>
{{/each}}

{{!-- Iterating through a list using a '.' and @key params --}}
{{#each accountant}}
<ul>{{@key}} : {{.}}</ul>
{{/each}}

{{!-- working with custom helpers --}}
{{calculation 69}}

{{!-- working with custom helpers with options params--}}
{{#list programmers}}
{{test}}
<br>
{{another}}
{{/list}}

{{!-- working with custom helpers with options params--}}
{{#people people}}
{{firstname}} {{secondname}}
{{/people}}

{{!-- Calling Partial HBS --}}
{{!-- {{>footer}} --}}