<h1>Programmers</h1>

{{#each programmers as |value key|}}


<ul>{{key}}:{{value}}</ul>

{{/each}}

{{#each programmers}}


<li>{{.}}</li>

{{/each}}

{{#each programmers}}


<li>{{.}}</li>

{{/each}}

{{#each accountant}}
<ul>{{@key}}  :  {{.}}</ul>
{{/each}}