<h1>Programmers</h1>
{{!-- Calling Partial HBS --}}
{{>header}}

{{!-- Iterating through a list using value and key params --}}
{{#each programmers as |value key|}}
<p>{{key}}:{{value}}</p>
{{/each}}

{{!-- Iterating through a list using a '.' --}}
{{#each programmers}}
<p>{{.}}</p>
{{/each}}

{{!-- Iterating through a list using a '.' and @key params --}}
{{#each accountant}}
<p>{{@key}} : {{.}}</p>
{{/each}}

{{!-- working with custom helpers --}}
{{calculation 69}}

{{!-- working with custom helpers with options params--}}
{{#list programmers}}
{{test}}
<br>
{{another}}
{{/list}}

{{!-- working with custom helpers with options params--}}
{{#people people}}
{{firstname}} {{secondname}}
{{/people}}

{{!-- Calling Partial HBS --}}
{{>footer}}